<form #courseForm="ngForm" (ngSubmit)="submit(courseForm.value)">
  <div class="form-group">
    <label for="courseName">Course Name</label>
    <input
      type="text"
      minlength="5"
      ngModel
      name="courseName"
      #courseName="ngModel"
      class="form-control"
      required
    />
    <div
      class="alert alert-danger"
      *ngIf="courseName.touched && courseName.errors"
    >
      <div *ngIf="courseName.touched && courseName.errors">
        Course Name is Required
      </div>
      <div *ngIf="courseName.errors.minlength">
        Name should be minimum of
        {{ courseName.errors.minlength.min }} characters
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="category">Category</label>
    <select
      ngModel
      name="category"
      #category="ngModel"
      id="category"
      class="form-control"
      required
    >
      <option value=""></option>
      <option
        *ngFor="let courseCategory of categories"
        [value]="courseCategory.id"
      >
        {{ courseCategory.name }}
      </option>
    </select>
    <div class="alert alert-danger" *ngIf="category.touched && category.errors">
      Category is Required
    </div>
  </div>
  <div class="form-group">
    <label for="moneyBackGuarantee">
      <input
        type="checkbox"
        ngModel
        name="moneyBackGuarantee"
        #moneyBackGuarantee="ngModel"
      />
      30-day money-back guarantee
    </label>
  </div>
  <button class="btn btn-primary" [disabled]="courseForm.invalid">
    Create
  </button>
  <p>
    {{ courseForm.value | json }}
  </p>
</form>
