<div class="zippy">
  <div class="zippy-heading" [class.expanded]="isExpanded" (click)="toggle()">
    <span>
      {{ title }}
    </span>
    <span
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        [attr.class]="
          isExpanded
            ? 'feather feather-chevron-up'
            : 'feather feather-chevron-down'
        "
      >
        <polyline
          [attr.points]="isExpanded ? '6 9 12 15 18 9' : '18 15 12 9 6 15'"
        ></polyline>
      </svg>
    </span>
  </div>
  <div class="zippy-body" *ngIf="isExpanded"><ng-content></ng-content></div>
</div>
